/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* generici */

nav{
    display: flex;
    justify-content: center;
    align-items: center;

}

h3{
    
    font-size: 12px;
}

body{
    background-image: linear-gradient(to bottom, rgb(71, 190, 112), grey);
}

#root {
    height: 100vh;
    padding-top: 20px;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    background-color: rgb(239, 226, 226);
}

img{
    max-width: 50px;
    border-radius: 50%;
    display: block;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

ul i{
    color: gray;
}

.fa-bell-slash{
    font-size: 18px;
    color: rgb(145, 212, 239);
}

a{
    color: gray;
}

/* utili */

.border{
    border-right: 1px solid blue;
}

.auto{
    overflow: auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

.baseline{
    display: flex;
    align-items: baseline;
}

.white{
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin-left: 15px;
}

.line-height{
    line-height: 2;
}

.mt{
    margin-top: 15px;
}

/* sezione contatti */

.contacts{
    flex-basis: 350px;
    flex-shrink: 0;
}

.contacts-header{
    padding: 5px 0 5px 10px;
}

#notifications{
    background-color: rgb(145, 212, 239);
    min-height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#search-chat{
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-icon{
    background-color: white;
    padding: 5px 20px;
}

input{
    border: none;
    padding: 6px 30px;
}

.chat-box{
    background-color: white;
}

/* sezione chat */

.chat{
    flex-grow: 1;

}

.chat-header,
.chat-footer{
    position: sticky;
    left: 0;
    right: 0;
    height: 60px;
}

.chat-header{
    top: 0;
}

.chat-footer{
    bottom: 0;
}

main.auto{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 100px);
}